*{box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}

.input-container{
    display: flex;
    align-items: center;
    border: 2px solid plum;
    padding:10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}

.input{
    width: 100%;
    margin: 10px 50px;
    margin-left: 20px;
    height: 100%;
    border: none; 
     outline: none;
    font-size: 20px;
    padding: 0 10px;
    color: pink;
    background: transparent;
    transition-delay:  0.5s;

}

.fa-solid fa-magnifying-glass{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    margin: 0 auto;
    text-align:center;
    cursor: pointer;
    counter-reset: 5s;
    /* transition: 0.5s; */

}

.fa-solid fa-magnifying-glass:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: red;
}
 ul li{
    display: inline;
    margin-left: 40px;
    font-family: sans-serif;
 }

 main{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container{
    width:70%;
    padding:20px;
    box-shadow: 10px 10px 40px 10px purple;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .content-container h1{
    font-family: sans-serif;
    font-size: 20px;
    color:#2c2c2c;
    margin-bottom: 5px;

 }

 .content-container p{
    font-family: sans-serif;
    font-size: 10px;
    color:#444444;
    margin-bottom: 25px;
    line-height: 1.4;
    width: 155px;
 }

 .img {
    transform: translateX(-120px);
    margin-top: 1rem;
    width: 350px;
    height: 350px;
    border-radius: 300px;
    background: url("https://images.unsplash.com/photo-1600289031464-74d374b64991?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: conver;
  }
  
  .ingredients {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 50px;
  }
  
  .ingredients span {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .ingredients {
    padding: 10px 20px;
    border: 2px solid #ff6e00;
    color: #ff6e00;
    font-family: sans-serif;
    border-radius: 100px;
  }
  
  .main-btn {
    background: transparent;
    border: none;
    border: 2px solid #ffa31a;
    padding: 10px;
    color: #ffa31a;
  }




